<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid >
        <ion-list>
            <ion-card >
               <img src="../../assets/img/nhif.png" [routerLink]="['/tabs/nhif']"> 
                <div [routerLink]="['/tabs/nhif']"class="ion-text-center">NHIF</div>
             </ion-card>
            <ion-card>
               <img src="../../assets/img/apa.png" [routerLink]="['/tabs/apa']">
                 <div [routerLink]="['/tabs/apa']" class="ion-text-center">APA heath insurance</div> 
               </ion-card>
            <ion-card>
                <img src="../../assets/img/equity.png" [routerLink]="['/tabs/equimed']">  
                <div [routerLink]="['/tabs/equimed']" class="ion-text-center">Equimed</div>
               </ion-card>
            <ion-card>
               <img src="../../assets/img/kwft.png" [routerLink]="['/tabs/kwft']"> 
               <div [routerLink]="['/tabs/kwft']" class="ion-text-center">KWFT health insurance</div>
              </ion-card>
            <ion-card>
                <img src="../../assets/img/minet.png" [routerLink]="['/tabs/minet']"> 
                <div [routerLink]="['/tabs/minet']" class="ion-text-center">Minet</div>
              </ion-card>
            <ion-card>
                <img src="../../assets/img/resolution.png" [routerLink]="['/tabs/resolution']">
                <div [routerLink]="['/tabs/resolution']" class="ion-text-center">Resolution Health Insurance</div>
               </ion-card>
            <ion-card>
                <img src="../../assets/img/madison.png" [routerLink]="['/tabs/madison']">
                <div [routerLink]="['/tabs/madison']" class="ion-text-center">Madison</div>
              </ion-card>
            <ion-card>
                <img src="../../assets/img/jubilee.png" [routerLink]="['/tabs/jubilee']">
                <div [routerLink]="['/tabs/jubilee']" class="ion-text-center">Jubilee Health Insurance</div>
              </ion-card>
        </ion-list>
          
      </ion-grid>  

</ion-content>