<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" [routerLink]="['/tabs/insurance']">
          <ion-icon name="arrow-round-back" slot="start" color="secondary"></ion-icon>
      </ion-button> 
    <ion-title>Madison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <h2>Locations</h2>
      <p>Nairobi branch:  Madison House Upper Hill Close,
        </p>
        <p>Nyeri Branch: Konahauthi Building, 1st Floor Kanisa Road</p>
      <h2>Contacts</h2>
      <ion-button fill="clear">                 
          <p> <a href="tel:+254 709 922 000"> <ion-icon name="call"></ion-icon> +254 709 922 000</a></p>
       </ion-button>
       <ion-button fill="clear">
          <p><a href="mailto:madison@madison.co.ke"> <ion-icon name="mail"></ion-icon> madison@madison.co.ke</a></p>
       </ion-button>
    </ion-grid>
    <ion-grid>
      <h2>services offered</h2>
      <ul>
          <li>Outpatient services</li>
          <li>Inpatient services</li>
          <li>Maternal care</li>
          <Li>Cancer treatment</Li>
          <li>Gynecological treatment</li>
          <li>Overseas treatment on referral</li>
      </ul>
      
    </ion-grid>
    <ion-grid>
      <h2>Limitations</h2>
      <li>Outpatient limit of 30000 to 100000</li>
      <li>Inpatient Limit of ksh 300000 to 2 million</li>
      <li>Only children below 18 years can be dependant</li>
    </ion-grid>
  
  </ion-content>

