<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" [routerLink]="['/tabs/insurance']">
          <ion-icon name="arrow-round-back" slot="start"></ion-icon>
      </ion-button> 
    <ion-title>Minet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <h2>Locations</h2>
      <p>Nairobi branch:  Minet House Processional Way (off Nyerere Rd)
        </p>
        <p>Nyeri Branch: Kimathi Way, Sohan Plaza, Ground Floor, Nyeri</p>
      <h2>Contacts</h2>
      <ion-button fill="clear">                 
          <p> <a href="tel:+254 709 922 000"> <ion-icon name="call"></ion-icon> +254 709 922 000</a></p>
       </ion-button>
       <ion-button fill="clear">
          <p><a href="mailto:madison@madison.co.ke"> <ion-icon name="mail"></ion-icon> madison@madison.co.ke</a></p>
       </ion-button>
    </ion-grid>
    <ion-grid>
      <h2>services offered</h2>
      <ul>
          <li>Outpatient services</li>
          <li>Inpatient services</li>
          <li>Maternal care</li>
          <li>Dental</li>
          <li>Optical</li>
          <li>Treatment abroad</li>
          <li>Cancer Treatment</li>
      </ul>
      
    </ion-grid>
    <ion-grid>
      <h2>Limitations</h2>
      <li>Optical and Dental limit of Ksh 10000</li>
      <li>Maternity limit of Ksh 75000</li>
      <li>Inpatient Limit of ksh 500000 to 1.5 million</li>
      <li>Only children below 18 years can be dependant</li>
    </ion-grid>
  
  </ion-content>
