<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" [routerLink]="['/tabs/insurance']">
          <ion-icon name="arrow-round-back" slot="start"></ion-icon>
      </ion-button> 
    <ion-title>resolution</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <h2>Locations</h2>
      <p>Nairobi branch:  Parkﬁeld Place,Muthangari Drive, Oﬀ Waiyaki Way,
        </p>
        <p>Nyeri Branch:Konahauthi Building, 1st Floor, Room H3, Kanisa Road</p>
      <h2>Contacts</h2>
      <ion-button fill="clear">                 
          <p> <a href="tel:+254 709 990 400"> <ion-icon name="call"></ion-icon> +254 709 990 400</a></p>
       </ion-button>
       <ion-button fill="clear">
          <p><a href="mailto:info@resolution.co.ke"> <ion-icon name="mail"></ion-icon> info@resolution.co.ke</a></p>
       </ion-button>
    </ion-grid>
    <ion-grid>
      <h2>services offered</h2>
      <ul>
          <li>Outpatient services</li>
          <li>Inpatient services</li>
          <li>Maternal care</li>
          <li>Chronic conditions</li>
          <li>Dental illness</li>
      </ul>
      
    </ion-grid>
    <ion-grid>
      <h2>Limitations</h2>
      <li>Outpatient co-pay of 500 to 1000 depending on hospital</li>
      <li>Limits of ksh 500000 for illness 1000000 for accidents to 10 million</li>
      <li>Exclusion on dialysis of any kind</li>
      <li>Exclusion on investigation and treatment for infertility and impotence</li>
    </ion-grid>
  
  </ion-content>
