<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hospital">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Hospitals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pharmacy">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Pharmacies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insurance">
      <ion-icon name="card"></ion-icon>
      <ion-label>Insurances</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
