<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Hospitals</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
      <ion-searchbar showcancelbutton="" (keyup)="filterList($event)"></ion-searchbar>
    <ion-list>
      <ion-item button *ngFor="let idea of hosilist " [routerLink]="['/hosidetails', idea.id]" lines="none">
        <ion-label>
            <h4>{{idea.Name}}</h4><br>
            <p>{{idea.Address}}</p>
            <p></p>
        </ion-label>  
      </ion-item>
      </ion-list>
      <!-- <script>
          const searchbar = document.querySelector('ion-searchbar');
          const items = Array.from(document.querySelector('ion-list').children);
          searchbar.addEventListener('ionInput', handleInput);
          function handleInput(event) {
            const query = event.target.value.toLowerCase();
            requestAnimationFrame(() => {
              items.forEach(item => {
                const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
                item.style.display = shouldShow ? 'block' : 'none';
              });
            });
          }
        </script> -->
  </ion-content>