<ion-header>
  <ion-toolbar color="primary">
      <ion-button fill="clear" [routerLink]="['/tabs/insurance']">
          <ion-icon name="arrow-round-back" slot="start" color="secondary"></ion-icon>
      </ion-button> 
    <ion-title>Apa health insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <h2>Locations</h2>
      <p>Nairobi branch:  Apollo Centre, ring road Parklands, Westlands,
        </p>
        <p>Nyeri Branch:Peak Business Centre, Nyeri</p>
      <h2>Contacts</h2>
      <ion-button fill="clear">                 
          <p> <a href="tel:+254020 364 1000"> <ion-icon name="call"></ion-icon> +254 (0) 20 364 1000</a></p>
       </ion-button>
       <ion-button fill="clear">
          <p><a href="mailto:info@apainsurance.org"> <ion-icon name="mail"></ion-icon> info@apainsurance.org </a></p>
       </ion-button>
      
    </ion-grid>
    <ion-grid>
      <h2>services offered</h2>
      <ul>
          <li>Outpatient services</li>
          <li>Inpatient services</li>
          <li>Maternal care</li>
          <li>Optical</li>
          <li>Dental</li>
          <li>Cancer treatment</li>
          <li>Organ transplant</li>
      </ul>
      
    </ion-grid>
    <ion-grid>
      <h2>Limitations</h2>
      <li>Waiting period of 10 months on maternity services</li>
      <li>Limits of ksh 500000 to 1000000 for Inpatient</li>
      <li>limits of 10000 to 20000 on dental and optical services</li>
      <li>Exclusion on  Pre-existing, HIV, congenital & chronic related conditions occurring within the first 12 months of cover
          whether newly diagnosed or note</li>
       <li>Exclusion on Sexually transmitted diseases</li>
    </ion-grid>
  
  </ion-content>
