<ion-header>
  </ion-header>
  <ion-content class="grid">
      <ion-row>
          <h1><p>{{idea.name}} Hospital Profile</p></h1>
          <h2>{{idea.Name}} Hospital</h2>
        </ion-row>
        <ion-row>
            <ion-icon name="time" size= "large"> </ion-icon><p>{{idea.Opentime}}</p>
        </ion-row>
     </ion-content>
<ion-content>
    <ion-grid>
        <ion-row>
            <p>Located at {{idea.Address}}</p>
          </ion-row>
            <ion-row>
                <h2> Opening hours</h2>
                <p>{{idea.Opentime}}</p>
                <h2> Closing hours</h2>
                <p>{{idea.Closetime}}</p>
            </ion-row>
          <ion-row>
            <h2>Contacts</h2>
            <p>{{idea.contact}}</p>
          </ion-row>
       </ion-grid>
</ion-content>
<ion-content>
  <ion-grid>
      <ion-row>
          <h2>Services</h2>
          <ul>
            <p>{{idea.dental}}</p>
            <p>{{idea.inpatient}}</p>
            <p>{{idea.maternity}}</p>
            <p>{{idea.optical}}</p>
            <p>{{idea.outpatient}}</p>
            <p>{{idea.radiography}}</p>
          </ul>
        </ion-row>
  </ion-grid>
</ion-content>
<ion-content>
     <ion-row>
       <ion-grid>
            <h2>Insurances accepted</h2>
            <ul>
                <p>{{idea.aon}}</p>
                <p>{{idea.apa}}</p>
                <p>{{idea.jubilee}}</p>
                <p>{{idea.madison}}</p> 
                <p>{{idea.minet}}</p> 
                <p>{{idea.nhif}}</p>
                <p>{{idea.resolution}}</p>
                <p>{{idea.uap}}</p>
            </ul>
         </ion-grid>
        </ion-row>
      <ion-row>
          <ion-button>Get directions</ion-button>
         </ion-row>
           
   </ion-content>
