<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="bg-class">
  <ion-grid class= "grid" >
    <ion-card>
        <div>
            <img src="../../assets/img/doctor.png">
        </div>
    </ion-card>
  </ion-grid>

  <ion-grid class ="grid">
    <ion-card>
        <ion-list>
            <ion-row>
                <ion-col>
                    <ion-button fill="clear"  [routerLink]="['/tabs/hospital']"> 
                      <ion-avatar>
                        <img src="../../assets/img/hos.png">
                       </ion-avatar>
                      <div class="ion-padding">Hospital</div>
                     </ion-button>
                   
                 </ion-col>
                <ion-col>
                    <ion-button fill="clear"  [routerLink]="['/tabs/insurance']">
                     <ion-avatar>
                        <img src="../../assets/img/insurance.png"> 
                      </ion-avatar>
                      <div class="ion-padding">Insurance</div>
                     </ion-button> 
                 </ion-col>
              </ion-row>
              <ion-row >
                  <ion-col>
                    <ion-button fill="clear" [routerLink]="['/tabs/pharmacy']"> 
                      <ion-avatar>
                          <img src="../../assets/img/pharmacy.png">
                        </ion-avatar> 
                      <div class="ion-padding">Pharmacies</div>
                     </ion-button>
                  </ion-col>
                  <ion-col >
                      <ion-button fill="clear" [routerLink]="['/tabs/account']">
                         <ion-avatar>
                            <img src="../../assets/img/account.png">
                          </ion-avatar>
                        <div class="ion-padding">Account</div>
                      </ion-button>
                    </ion-col>
                </ion-row>
        </ion-list>
    </ion-card>
      
  </ion-grid>  
  
  
</ion-content>