.welcome-card img {
  max-height: 45vh;
  overflow: hidden;
}
[ion-fixed] {
  min-height: calc(100% - 98px); // adjust to your footer height!
}
.bg-class{
  --background: linear-gradient(197deg, rgba(0,193,249,0.71) 0%, rgb(99, 146, 248) 13.5%, rgba(63,213,249,1) 33.33%, rgba(122,201,249,1) 100%) !important;
}
.grid{
  margin: 1px;
}