.welcome-card img {
  max-height: 45vh;
  overflow: hidden;
}
[ion-fixed] {
  min-height: calc(100% - 98px); // adjust to your footer height!
}
.bg-class{
  --background: linear-gradient(197deg, rgba(0,193,249,0.71) 0%, rgb(99, 146, 248) 13.5%, rgba(63,213,249,1) 33.33%, rgba(122,201,249,1) 100%) !important;
}
.grid{
  margin: 1px;
}
.grid{
  --background: #5EA0CC !important;
  --height: 200px !important;
}
.view{
  --background: rgb(94,160,204) !important;
  --background: linear-gradient(180deg, rgba(94,160,204,1) 0%, rgba(255,255,255,1) 40%) !important;
}
h2{
  font-family: Roboto Mono;
  font-style: italic;
}
.alignme{
  text-align: center;
  width: 150px;
}
.card
{
     margin-bottom: 5px !important;
}