<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="view">
    <div class="card">
        <div>
            <img src="../../assets/img/doctor.png">
        </div>
      </div>
    <div class="ion-text-center">
      <ion-label>M-afya</ion-label><br>
      <ion-label>Your Healthcare Informer</ion-label>
    </div>
    <div class="card">
      <ion-card>
          <ion-list>
              <ion-row>
                      <ion-button fill="clear"  [routerLink]="['/tabs/hospital']"> 
                        <ion-avatar>
                          <img src="../../assets/img/hos.png">
                         </ion-avatar>
                        <div class="ion-label">Hospital</div>
                       </ion-button>
                     
                   </ion-row>
                  <ion-row>
                      <ion-button fill="clear"  [routerLink]="['/tabs/insurance']">
                       <ion-avatar>
                          <img src="../../assets/img/insurance.png"> 
                        </ion-avatar>
                        <div class="ion-label">Insurance</div>
                       </ion-button> 
                     </ion-row>
                <ion-row >
                      <ion-button fill="clear" [routerLink]="['/tabs/pharmacy']"> 
                        <ion-avatar>
                            <img src="../../assets/img/pharmacy.png">
                          </ion-avatar> 
                        <div class="ion-label">Pharmacies</div>
                       </ion-button>
                   </ion-row>
                   <ion-row>
                        <ion-button fill="clear" [routerLink]="['/tabs/account']">
                           <ion-avatar>
                              <img src="../../assets/img/account.png">
                            </ion-avatar>
                          <div class="ion-label">Account</div>
                        </ion-button>
                     </ion-row>
          </ion-list>
      </ion-card>
      </div>
</ion-content>