<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row>
        <ion-button expand="full" fill="clear" [routerLink]="['/register']" >Sign up</ion-button>
    </ion-row>
      <ion-row>
          <ion-button expand="full" fill="clear" [routerLink]="['/login']">Sign in</ion-button>
      </ion-row>
      <ion-row>
          <ion-button expand="full" fill="clear" [routerLink]="['/profile:id']">Basic information</ion-button>
      </ion-row>
      <ion-row>
          <ion-button expand="full" fill="clear"  (click)="logout()"></ion-button>
      </ion-row>
     
  </ion-list>
</ion-content>
