<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" [routerLink]="['/tabs/insurance']">
          <ion-icon name="arrow-round-back" slot="start" color="secondary"></ion-icon>
      </ion-button> 
    <ion-title>Nhif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h2>Locations</h2>
    <p>Nairobi branch:  Upper hill, Ragati Road- Haile Selassie Avenue Junction.
      </p>
      <p>Nyeri branch: Rware Building, 1st floor, Kenyatta Road</p>
    <h2>Contacts</h2>
    <ion-button fill="clear">                 
        <p> <a href="tel:(020) 272 3246"> <ion-icon name="call"></ion-icon> (020) 272 3246</a></p>
     </ion-button>
     <ion-button fill="clear">
        <p><a href="mailto:info@nhif.or.ke"> <ion-icon name="mail"></ion-icon> info@nhif.or.ke</a></p>
     </ion-button>
  </ion-grid>
  <ion-grid>
    <h2>services offered</h2>
    <ul>
        <li>Outpatient services</li>
        <li>Inpatient services</li>
        <li>Maternal care</li>
        <li>Reproductive health services</li>
        <li>Renal dialysis</li>
        <li>Surgical procedures</li>
        <li>Radiology imaging</li>
        <li>Cancer treatment</li>
    </ul>
    
  </ion-grid>
  <ion-grid>
    <h2>Limitations</h2>
    <li>One spouse from the principle</li>
    <li>Maximum of 5 dependants</li>
    <li>Only children below 21 years can be dependant</li>
  </ion-grid>

</ion-content>
